//colors
$black: #404040;
$blackest: #333333;
$white: whitesmoke;
$backgroundColor: #FFFFFF;

//margins

$headerHeight: 5rem;

//font utils

$cartFontSize: 1.3rem;

//rwd
$large: 1008px;
$medium: 768px;
